/* Importar as cores do Google */
:root {
  --primary-color: #4285f4; /* Azul */
  --accent-color: #0f9d58; /* Verde */
  --text-color: #333; /* Preto */
}

/* Estilizar o corpo da página */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  background-color: #97a7db; /* Cor de fundo cinza claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilizar o formulário de login */
.form-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Estilizar os campos de entrada */
.form-control {
  border: 1px solid #ddd; /* Borda cinza */
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

/* Estilizar o botão de login */
.btn-login {
  background-color: var(--primary-color); /* Usar a cor azul do Google como plano de fundo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilizar o botão de login quando o mouse passa por cima */
.btn-login:hover {
  background-color: var(--accent-color); /* Usar a cor verde do Google quando o mouse passa por cima */
}

/* Centralizar elementos com a classe 'centered' */
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilizar botões dentro de elementos com a classe 'centered' */
.centered button {
  margin-top: 10px; /* Adicione margem superior para separar os botões */
}

/* Estilizar formulários dentro de elementos com a classe 'centered' */
.centered form {
  text-align: center; /* Centralizar o texto dentro do formulário */
}

.group1 {
  margin-top: 10px;
  margin-left: 25px;
  

}